@page
@model App.EndPoints.UI.RazorPages.Areas.Admin.Pages.Customer.IndexModel
@{
    Layout = "Shared/_AdminLayout";
}

<a href="@Url.Page("Create")" class="btn rounded-pill btn-primary btn-medium">افزودن مشتری جدید</a>

<div class="table-responsive text-nowrap">
    <table class="table card-table">
        <thead>
            <tr>
                <th>ردیف</th>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>تصویر</th>
                <th>ایمیل</th>
                <th>موجودی</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>
                        <img src="@customer.ProfileImage" alt="آواتار" class="rounded-circle avatar avatar-xs">
                    </td>
                    <td>@customer.Email</td>
                    <td>16</td> @* Wallet Placeholder *@

                    <td>
                        <div class="dropdown">
                            <button class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a asp-page="Update" asp-route-id="@customer.Id" class="dropdown-item">
                                    <i class="bx bx-edit-alt me-1"></i> ویرایش
                                </a>
                                <a asp-page-handler="Delete" asp-route-id="@customer.Id" class="dropdown-item">
                                    <i class="bx bx-trash me-1"></i> حذف
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
