@page
@model App.EndPoints.UI.RazorPages.Areas.Admin.Pages.Customer.UpdateModel
@{
    Layout = "Shared/_AdminLayout";
}

<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">بروزرسانی اطلاعات مشتری</h5>
        <small class="text-muted float-end primary-font">برچسب پیش‌فرض</small>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="@Model.UpdatingCustomer.Id" value="@Model.UpdatingCustomer.Id" />
            <div class="mt-n2 mx-sm-0 mx-auto">
                <input type="hidden" value="@Model.UpdatingCustomer.ProfileImage" asp-for="@Model.UpdatingCustomer.ProfileImage" />
                <img src="@Model.UpdatingCustomer.ProfileImage" alt="user image" style="width:200px; height:200px" class="d-block h-auto ms-0 ms-sm-4 rounded-3 user-profile-img">
            </div>
            <div class="mb-3">
                <label asp-for="@Model.UpdatingCustomer.ProfileImage" class="form-label">عکس مشتری را انتخاب کنید</label>
                <input asp-for="@Model.customerImage" class="form-control" type="file">
            </div>
            <div class="mb-3">
                <label asp-for="@Model.UpdatingCustomer.FirstName" class="form-label" for="basic-default-fullname">نام </label>
                <input asp-for="@Model.UpdatingCustomer.FirstName" type="text" class="form-control" id="basic-default-fullname" placeholder="جان اسنو">
                <span asp-validation-for="@Model.UpdatingCustomer.FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.UpdatingCustomer.LastName" class="form-label" for="basic-default-fullname">نام خانوادگی </label>
                <input asp-for="@Model.UpdatingCustomer.LastName" type="text" class="form-control" id="basic-default-fullname" placeholder="جان اسنو">
                <span asp-validation-for="@Model.UpdatingCustomer.LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.UpdatingCustomer.Email" class="form-label" for="basic-default-fullname">ایمیل </label>
                <input asp-for="@Model.UpdatingCustomer.Email" type="text" class="form-control" id="basic-default-fullname" placeholder="جان اسنو">
                <span asp-validation-for="@Model.UpdatingCustomer.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
            </div>
            
            <button type="submit" class="btn btn-primary">ارسال</button>
        </form>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}